<div class="px-32 pt-16 pb-4 h-full min-h-screen max-w-screen-lg m-auto flex flex-col">
  <header class="hidden md:flex items-center flex-row gap-8 pb-16">
    <img src="/images/jgu_profile.jpeg" alt="jgu" class="rounded-full h-20 mr-8">
    <div class="flex flex-col">
      <a routerLink="/" class="text-3xl font-semibold mb-6">
        {{nameLogo}}
      </a>

      <nav>
        <ul class="flex gap-12 [&_a]:font-semibold">
          @for(link of links; track link.label) {
          <li routerLinkActive="text-teal" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="link.path" class="no-underline! text-charcoal!">{{ link.label }}</a>
          </li>
          }
          <li>
            <a [href]="github" target="_blank">Github</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer class="text-center text-xs text-smoke mt-auto">
    <p>&copy; {{ year }} JGU | Montreal, Canada.</p>
  </footer>
</div>