---
import HeaderLink from './HeaderLink.astro';
import MobileHeader from './MobileHeader';
import {nameLogo} from '../data/siteData.json';

const logo = nameLogo;
---

<header class="hidden md:flex items-center flex-row gap-8">
	<img src="../../public/images/jgu_profile.jpeg" alt="jgu" class="rounded-full h-24">
	<div class="flex flex-col">
		<a href="/">
			<h1 class="text-3xl font-bold mb-6">{logo}</h1>
		</a>

		<nav class="flex gap-12">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/now">Now</HeaderLink>
		</nav>
	</div>
</header>
<div class="block md:hidden">
	<MobileHeader client:load/>
</div>
