---
const { href } = Astro.props;
const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<a href={href} class={`text-jg-charcoal font-medium transition-colors inline-block pb-1 hover:text-jg-smoke
	${isActive ? 'text-jg-teal border-b-2 border-b-jg-teal' : ''}`}>
	<slot />
</a>

