<div class="flex flex-col gap-4 mb-4">
  <p>Hey, I'm <a [href]="github" target="_blank">Jing Gu👋</a></p>
  <p>a senior developer at <a [href]="company_url" target="_blank">Sully Group🔗</a>, I make web and mobile apps.</p>
  <p>Here you can know more <a routerLink="/whoami">about me</a> or
    check out what I am doing <a routerLink="/now">now</a>.</p>
  <p>I use this space to document some of my sideline <a routerLink="/projects">projects</a>.</p>
  <p>I enjoy <a routerLink="/blog">writing</a>. When something inspires me,
    I write about it, from software development to self reflexion or book reviews.</p>
  <p>
    Feel free to reach me by <a [href]="email">email📧</a>,
    or you can also find me on <a [href]="linkedIn" target="_blank">LinkedIn🔗</a>.
  </p>
</div>