---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

interface BlogProps {
	title: string;
	date: Date;
	tags?: string[];
}

const { title, date, tags }: BlogProps = Astro.props;
---

<Layout title={title}>
	<article
		class="[&_time]:text-jg-teal [&_p]:leading-8 [&_p]:mb-5 [&_ul]:ml-4 [&_ul]:mb-5"
	>
		<FormattedDate date={date} />
		<div class="mb-10">
			<h1 class="text-2xl lg:text-4xl font-semibold my-4">{title}</h1>
			<div class="flex gap-4">
				{
					tags?.map((tag) => (
						<span class="bg-jg-cream py-2 px-4 text-sm text-jg-smoke rounded-full">
							{tag}
						</span>
					))
				}
			</div>
		</div>
		<slot />
		<a href="/blog" class="mt-8 inline-block text-jg-charcoal">
			<span class="text-3xl">&#8249;</span>
			<span class="text-2xl">Back</span>
		</a>
	</article>
</Layout>
